body{
    background-color: #F7F8FA;
    display: flex;
   
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    height: 790px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    p{
        font-family: "Roboto", sans-serif;
    }

}
.bot1{
    width: 350px;
    height: 6px;
    border-radius: 4px;
    background-color: #FB9725;
    position: absolute;
    left: 320px;
    top: 110px;
}
.bot2{
    width: 350px;
    height: 6px;
    border-radius: 4px;
    background-color: #4CC69F;
    position: absolute;
    right: 320px;
    top: 110px;
}
.home{
    width: 350px;
    height: 290px;
    position: relative;
    background-color: transparent;
    
    border-radius: 12px;
    position: relative;
  

}
.home img{
    width: 330px;
    height: 280px;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 10px;
    

}

.circle2{
    height: 30px;
    width: 30px;
    border-radius: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.circle3{
    height: 30px;
    width: 30px;
    border-radius: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5px;
}
.position{
    height: 40px;
    width: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 40px;
    right: 15px;
    
}
.active{
    position: absolute;
    height: 26px;
    width: 84px;
   top: 18px;
   left: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    color: white;
    border-radius: 30px;
}
.font3{
    margin: 0;
}
.circle{
    height: 6px;
    width: 6px;
    border-radius: 10px;
    background-color: green;
    display: flex;
    
    
}

.maindetails{
    width: 120px;
    height: 190px;
    p{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 550;
        gap: 3px;
        
    }
}
.writings{
background-color:transparent;
height: 190px;
width: 330px;
display: flex;
justify-content: space-between;
margin-left: 10px;

}
.details{
 width: 120px;
    height: 190px;
    p{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 550;
        gap: 3px;
        color: #a19d9d;
        
    }
}
.box{
    height: 50px;
    background-color: transparent;
    
}
.font1{
    font-size: 12px;
    color: #666;
    margin: 0;
    padding-bottom: 0;
}
.token{
    height: 50px;
    width: 90px;
    background-color: transparent;
    column-gap: 0;
    margin-left: 15px;
    border-right: 1px solid #e5e7e9;
}
.font2 p{
    padding-top: 60px;
    margin: 0;
}
.token2{
    height: 50px;
    width: 90px;
    background-color: transparent;
    column-gap: 0;
    margin-left: 15px;
    border-right: 1px solid #e5e7e9;
    margin-left: 15px;
}
.box{
    display: flex;
    height: 50px;
    margin-left: 10px;

}
.token3{
    height: 50px;
    width: 90px;
    background-color: transparent;
    column-gap: 0;
    margin-left: 15px;
    margin-top: 0;
    padding: 0;
    margin-left: 15px;
    
}
.container2{
    width: 350px;
    height: 490px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 12px;
    top: 30px;
    right: 320px;
    top: 160px;


}
.container1{
    width: 350px;
    height: 550px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 12px;
    left: 320px;
    bottom: 80px;

}
.active2{
    position: absolute;
    height: 26px;
    width: 84px;
   top: 18px;
   left: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

    .circle4{
    height: 30px;
    width: 30px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5px;
}
.circle5{
    height: 30px;
    width: 30px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    position: relative;
    
}
.font9{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.font10{
    font-size: 16px;
    color: #666;
    margin: 0;

}
.font11{
    font-size: 15;
    color: #666;
    margin-bottom: 5px;

}
.font12{
    font-size: 22px;
    color: #359F94;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;

}
.writing{
background-color:transparent;
height: 83px;
width: 330px;
display: flex;
justify-content: space-between;
margin-left: 10px;

}
.last{
    height: 30px;
    width: 330px;
    background-color: transparent;
    display: flex;
    gap: 20px;
    color: #000000;
    margin-left: 10px;
    align-items: center;

}
.part{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}
.box2{
    display: flex;
    justify-content: center;
    height: 60px;
    margin-left: 10px;
    background-color: #F7F8FA;
    width: 330px;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;

}
.font13{
    color: #359F94;
}