body{
    background-color: #e5e7e9;
}

.home img{
    width: 330px;
    height: 280px;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;

}
.active{
    
}
.container1{
    width: 350px;
    height: 550px;
    background-color: white;
    
    border-radius: 12px;

}
.maindetails{
    width: 120px;
    height: 190px;
    p{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 550;
        gap: 3px;
        
    }
}
.writings{
background-color:transparent;
height: 190px;
width: 330px;
display: flex;
justify-content: space-between;
margin-left: 10px;

}
.details{
 width: 120px;
    height: 190px;
    p{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 550;
        gap: 3px;
        color: #a19d9d;
        
    }
}
.box{
    height: 50px;
    background-color: transparent;
    
}
.font1{
    font-size: 12px;
    color: #666;
}
.token{
    height: 50px;
    width: 90px;
    background-color: transparent;
    column-gap: 0;
    margin-left: 15px;
    border-right: 1px solid #e5e7e9;
}
.font2 p{
    padding-top: 30px;
    margin-top: 0;
}
.token2{
    height: 50px;
    width: 90px;
    background-color: transparent;
    column-gap: 0;
    margin-left: 15px;
    border-right: 1px solid #e5e7e9;
    margin-left: 15px;
}
.box{
    display: flex;
    height: 50px;
    margin-left: 10px;

}
.token3{
    height: 50px;
    width: 90px;
    background-color: transparent;
    column-gap: 0;
    margin-left: 15px;
    margin-top: 0;
    padding: 0;
    margin-left: 15px;
    
}
